.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.everything {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: 0.5% 4% ;
	font-size: 14px;
}


.left {
	border-color: white;
	border-width: 2px;
	padding: 0%;
	display: flex;
	flex-direction: column;
	/*grid-template-rows: 1fr 2fr;*/
}

.right {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 2%;  
}

.evidence {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 1em;
}

.controlbox {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 1em;
}

.controlli {
	padding: 0.5em 0px;
}

.profiletitle {
	text-align: center;
}

.credits {
	font-size: 14px;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 1.25em;
}

h2 {
	font-size: 1.5em;
}

a:visited {
	color: pink;
}

.cbhelpertext {
	text-align: justify;
	text-align-last: center;
	font-size: 100%;
}

.helptext {
	color: blanchedalmond;
}

/* button details. Credit Felix Schwarzer
   Link: https://codepen.io/slimsmearlapp/pen/HJgFG
 */
button {
  width: 155px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 14px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 1em;
  
}
button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

.intro {
	display: grid;
	grid-template-columns: auto 170px;
}

.introbutton {
	display: flex;
	justify-content: center;
	align-items: center;
}