.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.everything {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: 0.5% 4% ;
	font-size: 14px;
}


.left {
	border-color: white;
	border-width: 2px;
	padding: 0%;
	display: flex;
	flex-direction: column;
	/*grid-template-rows: 1fr 2fr;*/
}

.right {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 2%;  
}

.evidence {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 1em;
}

.controlbox {
	border-style: solid;
	border-color: white;
	border-width: 2px;
	padding: 1em;
}

.controlli {
	padding: 0.5em 0px;
}

.profiletitle {
	text-align: center;
}

.credits {
	font-size: 14px;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 1.25em;
}

h2 {
	font-size: 1.5em;
}

a:visited {
	color: pink;
}
